@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

:root {
    --c01: black;
    --c02: white;
    --c03: #7D53DE;
    --c04: #34F6F2;
    --c05: #F1F1F1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

footer, figure, section {
    width: 100%;
    text-align: center;
    align-content: center;
}

header {
    width: 100%;
    height: 70px;
    background-color: var(--c02);
    color: var(--c01);
    justify-items: center;
    padding-left: 20px;
}

header > div#img-container {
    display: inline-block;
    height: 100%;
    align-content: center;
}

header > div#img-container img {
    /* height: 100%; */

    align-content: center;
}

nav, li {
    display: inline-block;
}

nav {
    height: 100%;
    float: right;
    align-content: center;
}


li {
    padding: 0 20px;
}

main > figure {
    font-family: SF-Pro-Medium, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--c02);

    display: flex;
    justify-content: space-between;

    height: 197px;

    text-align: left;

    background: url(../images/figure-background.png);
    background-size: cover;
}

main > figure div#texts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

main > figure div#img-container {
    height: 100%;
}

main > figure div#img-container img {
    width: 329px;
    height: 197px;
}

main > figure > h1 {
    margin: 20px;
}

section {
    width: 70%;
    display: inline-block;
}

footer {
    text-align: left;
    height: 230px;
    background-color: var(--c05);
    padding: 30px;
}

footer > #mark {
    display: inline-block;
    justify-content: center;
}

footer > #mark > h1 {
    font-family: SF-Pro-Medium;
    font-size: 50px;

    width: fit-content;
}

footer > #mark span {
    color: var(--c03);
}

footer > #mark span::selection {
    background-color: #7D53DE;
    color: white;
}

#conteudos > section, #conteudos > aside {
    text-align: center;
    align-content: center;
}

#conteudos {
    display: grid;
    text-align: center;
    
    font-family: SF-Pro-Medium, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--c01);
}

#conteudos > h1 {
    font-family: SF-Pro-Medium;
    margin: 20px 0;
}

#cards {
    display: ruby;
    width: 900px;
    margin: 50px auto;
}

.card {
    width: 285px;
    background-color: white;
    
    font-family: SF-Pro-Medium;
    font-weight: 400;
    font-style: normal;
}

.card-img {
    position: relative;
    display: inline-block;

    width: 100%;
    height: 219px;
}

.card-img > img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 15px;
}

.card-img div.card-img-gradient {
    position: absolute;
    
    top: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, transparent, black);
}

.card-img > h1 {
    position: absolute;

    font-family: SF-Pro-Medium;

    color: white;

    padding: 7px 12px;
    bottom: 0;
}

.card-button {
    display: block;

    transform: translateY(-10%);

    width: 100%;
    box-sizing: border-box;

    font-family: SF-Pro-Medium;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    background-color: white;
    text-align: left;
    justify-content: center;
    align-self: center;

    padding: 12px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
}

@media (max-width: 910px) {
    header {
        height: auto;
        padding-top: 15px;
        text-align: center;
        padding-left: 0;
    }

    nav {
        width: 100%;
        padding: 20px 0;
        float: none;
    }

    main {
        height: auto;
    }

    #conteudos {
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    #conteudos > section {
        width: 100%;
    }
    
    #conteudos > aside {
        position: relative;
        padding: 15px;
    }
}